<div ng-view="cart" class="cartView jumbotron"
	ng-controller="CartCtrl as cctrl">
	<div ng-show="cctrl.total>0">

		<div>{{cctrl.count.value}}</div>
		<table class="table table-striped table-responsive">
			<tbody>
				<tr>
					<th>{{'NAME' | translate}}</th>
					<th>{{'QUANTITY' | translate}}</th>
					<th>{{'INITIAL_PRICE' | translate}}</th>
					<th>{{'TOTAL_PRICE' | translate}}</th>
				</tr>
				<tr ng-repeat="item in cctrl.items">
					<td><a ui-sref="laptop({name: '{{item.id}}'})">{{item.model}}</a></td>
					<td><input type="number" class="quantity" id="{{item.id}}"
						step="1" min="1" max="50" value="{{item.count}}" />
							<button ng-if="cctrl.language=='english'" class="btn btn-success" ng-click="cctrl.buy(item)">Buy</button>
						<button ng-if="cctrl.language=='bulgarian'"  class="btn btn-success" ng-click="cctrl.buy(item)">Купи</button>
					</td>
					<td><div ng-if="cctrl.language=='english'">
					€{{item.price * cctrl.localCurrency | number:0}}
<!-- 					{{item.price | currency:undefined:0}} -->
					</div>
					<div ng-if="cctrl.language=='bulgarian'">
					{{item.price * cctrl.localCurrency | number:0}}лв.
					</div></td>
					<td>
						<p ng-if="cctrl.language=='english'" class="totalPriceForUnit">€{{item.price*item.count | number:0}}</p>
						<p ng-if="cctrl.language=='bulgarian'" class="totalPriceForUnit">{{item.price*item.count | number:0}}лв.</p> <a ng-click="cctrl.removeItem(item.id)"><span
							class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
					</td>

				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td align="right">{{'TOTAL' | translate}}:</td>
					<td ng-model="total">{{cctrl.total | currency:undefined:0}}</td>
				</tr>
			</tfoot>
		</table>
	</div>
	<div ng-show="cctrl.total==0" class="jumbotron text-center">
		{{'EMPTY_CART' | translate}} <a ui-sref="shop"
			class="btn btn-danger shopButton" role="button">{{'GO_BACK' |
			translate}}</a>
	</div>

</div>
