<div ng-view="cart" class="cartView jumbotron"
	ng-controller="CartCtrl as cctrl">

	<!-- NAVIGATION -->
	<nav class="navbar-fixed-top navbar-inverse" role="navigation">
		<ul class="nav navbar-nav leftNavMenu">
			<li><a ui-sref="login">{{'HOME' | translate}}</a></li>
			<li><a ui-sref="shop">{{'SHOP' | translate}}</a></li>
			<li><a ui-sref="cart"><span
					class="glyphicon glyphicon-shopping-cart"></span></a></li>
			<li class="languageLi"><a id="bgbgbg"
				ng-click="cctrl.changeLanguage('bgBG')" class="languageLink"><img
					src="resources/images/bgFlag.png"></a></li>
			<li class="languageLi"><a
				ng-click="cctrl.changeLanguage('enUS')" class="languageLink"><img
					src="resources/images/euFlag.gif"></a></li>
		</ul>
	</nav>
	<div ng-show="total>0">

		<div>{{cctrl.count.value}}</div>
		<table class="table table-striped table-responsive">
			<tbody>
				<tr>
					<th>{{'NAME' | translate}}</th>
					<th>{{'QUANTITY' | translate}}</th>
					<th>{{'INITIAL_PRICE' | translate}}</th>
					<th>{{'TOTAL_PRICE' | translate}}</th>
				</tr>
				<tr ng-repeat="item in items">
					<td><a ui-sref="laptop({name: '{{item.id}}'})">{{item.model}}</a></td>
					<td><input type="number" class="quantity" id="{{item.id}}"
						step="1" min="1" max="50" value="{{item.count}}" />
						<button ng-if="cctrl.language=='english'" class="btn btn-success"
							ng-click="cctrl.buy(item)">Buy</button>
						<button ng-if="cctrl.language=='bulgarian'"
							class="btn btn-success" ng-click="cctrl.buy(item)">Купи</button>
					</td>
					<td><div ng-if="cctrl.language=='english'">
							€{{item.price * cctrl.localCurrency | number:0}}
							<!-- 					{{item.price | currency:undefined:0}} -->
						</div>
						<div ng-if="cctrl.language=='bulgarian'">{{item.price *
							cctrl.localCurrency | number:0}}лв.</div></td>
					<td>
						<p ng-if="cctrl.language=='english'" class="totalPriceForUnit">€{{(item.price*cctrl.localCurrency)*item.count
							| number:0}}</p>
						<p ng-if="cctrl.language=='bulgarian'" class="totalPriceForUnit">{{(item.price*cctrl.localCurrency)*item.count
							| number:0}}лв.</p> <a ng-click="cctrl.removeItem(item)"><span
							class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td align="right">{{'TOTAL' | translate}}:</td>
					<td ng-model="total" ng-if="cctrl.language=='english'">€{{total
						| number:0}} <button class='btn btn-warning' ng-click='cctrl.clearCart()'>{{'DELETE_ALL_ITEMS' | translate}}</button></td>
					<td ng-model="total" ng-if="cctrl.language=='bulgarian'">{{total
						* 1.95 | number:0}}лв. <button class='btn btn-warning' ng-click='cctrl.clearCart()'>{{'DELETE_ALL_ITEMS' | translate}}</button></td>
						
				</tr>
			</tfoot>
		</table>
	</div>
	<div ng-show="total==0" class="jumbotron text-center">
		{{'EMPTY_CART' | translate}} <a ui-sref="shop"
			class="btn btn-danger shopButton" role="button">{{'GO_BACK' |
			translate}}</a>
	</div>
</div>
