<div ng-controller="ShopCtrl as shctrl">
	<div class="col-md-2">
		<!-- Sidebar -->
		<div class="col-md-12">
			<section class="left"
				style="border-right: 1px #23527c solid; width: auto">
				<div class="filter">
					{{'BRAND' | translate}}
					<ul class="term-list">
						<li class="term-item"
							ng-repeat="brand in shctrl.brandsGroup | orderBy:'toString()'"><label><input
								type="checkbox" ng-model="shctrl.useBrands[brand]" /><span>{{brand}}</span></label>
							<span>({{ (shctrl.filteredLaptops | filter:query |
								filter:shctrl.count('brand', brand)).length}})</span></li>
					</ul>
				</div>

				<div class="filter">
					{{'RAM' | translate}}
					<ul>
						<li ng-repeat="ram in shctrl.ramsGroup | orderBy:'toString()'"><label><input
								type="checkbox" ng-model="shctrl.useRams[ram]" />{{ram}}<span>({{
									(shctrl.filteredLaptops | filter:query | filter:shctrl.count('ram',
									ram)).length }})</span></label></li>
					</ul>
				</div>

				<div class="filter">
					{{'HDD' | translate}}
					<ul>
						<li ng-repeat="hdd in shctrl.hddsGroup | orderBy:'toString()'"><label><input
								type="checkbox" ng-model="shctrl.useHDDs[hdd]" />{{hdd}}<span>({{
									(shctrl.filteredLaptops | filter:query | filter:shctrl.count('hdd',
									hdd)).length }})</span></label></li>
					</ul>
				</div>
				<div class="filter">
					{{'VIDEO' | translate}}
					<ul>
						<li ng-repeat="video in shctrl.videosGroup | orderBy:'toString()'"><label><input
								type="checkbox" ng-model="shctrl.useVideos[video]" />{{video}}<span>({{
									(shctrl.filteredLaptops | filter:query | filter:shctrl.count('video',
									video)).length }})</span></label></li>
					</ul>
				</div>
				<div class="filter">
					{{'PROCESSOR' | translate}}
					<ul>
						<li
							ng-repeat="processor in shctrl.processorsGroup | orderBy:'toString()'">
							<label><input type="checkbox"
								ng-model="shctrl.useProcessors[processor]" />{{processor}} <span>({{
									(shctrl.filteredLaptops | filter:query | filter:shctrl.count('processor',
									processor)).length }})</span></label>
						</li>
					</ul>
				</div>
			</section>
		</div>
	</div>
	<!-- /#sidebar-wrapper -->
	<div class="container-fluid col-md-10">

		<div class="text-right total">
			<div ng-if="shctrl.language=='english'">
				<a ui-sref="cart"> {{'TOTAL' | translate}}: </a><span
					class="thePrice">€{{shctrl.total * shctrl.localCurrency | number:0}}</span>
			</div>
			<div ng-if="shctrl.language=='bulgarian'">
				<a ui-sref="cart"> {{'TOTAL' | translate}}: </a><span
					class="thePrice">{{shctrl.total * shctrl.localCurrency | number:0}}лв.</span>
			</div>
		</div>
		<span>{{'SORT BY' | translate}}: </span><select
			ng-init="orderProp = shctrl.orderOptions[2]" ng-model="orderProp"
			ng-options="opt as opt.label | translate for opt in shctrl.orderOptions"></select>
		<div>
			<ul>
				<li class="languageLi"><a id="bgbgbg"
					ng-click="shctrl.changeLanguage('bgBG')" class="languageLink"><img
						src="resources/images/bgFlag.png"></a></li>
				<li class="languageLi"><a ng-click="shctrl.changeLanguage('enUS')"
					class="languageLink"><img src="resources/images/euFlag.gif"></a></li>
			</ul>
			{{shctrl.localCurrency}}
			<ng-pluralize count="shctrl.filteredLaptops.length"
				when="{
	'0':'{{&quot;NOTHINGFOUND&quot; | translate}}',
	'one':'{{&quot;ONE FOUND&quot; | translate}}',
	'other':'{} {{&quot;LAPTOPSFOUND&quot; | translate}}',
	}">
			</ng-pluralize>
		</div>
		<script>
			site = 'https://www.ecb.europa.eu/rss/fxref-bgn.html';
			var yql = 'http://query.yahooapis.com/v1/public/yql?q='
					+ encodeURIComponent('select * from xml where url="' + site
							+ '"') + '&format=xml&callback=?';
			$(document).ready(
					function() {
						$("#getJSONData").click(
								function() {
									$.getJSON(yql, function(result) {
										var xml = result.results[0];
										xmlDoc = $.parseXML(xml),
												$xml = $(xmlDoc), $title = $xml
														.find("value");
										$("#hoho").append($title);
										return;
									});
								});
					});
		</script>
		<button id="getJSONData">Get JSON data</button>

		<div id="hoho" hidden></div>
		<button onclick="alert($( 'value' ).first().text())">ALERT</button>
		<div class="row">
			<div class="col-lg-12">
				<div class="col-md-4"
					ng-repeat="laptop in shctrl.filteredLaptops | orderBy:orderProp.value | filter:price">
					<div class="itemBox">
						<a ui-sref="laptop({name: '{{laptop.id}}'})" class="deviceName">{{laptop.model}}</a>
						<a ui-sref="laptop({name: '{{laptop.id}}'})"><img
							ng-src="{{laptop.images[0]}}" class="itemImage"></a>

						<div>
							<span>{{'PROCESSOR' | translate}}:</span> {{laptop.processor}}
						</div>
						<div>
							<span>{{'HDD' | translate}}:</span> {{laptop.hdd}}
						</div>
						<div>
							<span>{{'RAM' | translate}}:</span> {{laptop.ram}}
						</div>
						<div>
							<span>{{'VIDEO' | translate}}:</span> {{laptop.video}}
						</div>
						<div ng-if="shctrl.language=='english'">
							<button class="btn btn-success" ng-click="shctrl.buy(laptop)">{{"BUY_FOR"
								| translate}} €{{(laptop.price * shctrl.localCurrency).toFixed(0)}}</button>
						</div>
						<div ng-if="shctrl.language=='bulgarian'">
							<button class="btn btn-success" ng-click="shctrl.buy(laptop)">{{"BUY_FOR"
								| translate}} {{(laptop.price * shctrl.localCurrency).toFixed(0)}}лв.</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>